EAFStationUpload/Web References/localhost/EAFService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ConvertExcelFileToDataBase">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FileData" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="SourceFileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConvertExcelFileToDataBaseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConvertExcelFileToDataBaseResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConvertExcelFileToDataBaseSoapIn">
    <wsdl:part name="parameters" element="tns:ConvertExcelFileToDataBase" />
  </wsdl:message>
  <wsdl:message name="ConvertExcelFileToDataBaseSoapOut">
    <wsdl:part name="parameters" element="tns:ConvertExcelFileToDataBaseResponse" />
  </wsdl:message>
  <wsdl:portType name="EAFServiceSoap">
    <wsdl:operation name="ConvertExcelFileToDataBase">
      <wsdl:input message="tns:ConvertExcelFileToDataBaseSoapIn" />
      <wsdl:output message="tns:ConvertExcelFileToDataBaseSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EAFServiceSoap" type="tns:EAFServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConvertExcelFileToDataBase">
      <soap:operation soapAction="http://tempuri.org/ConvertExcelFileToDataBase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EAFServiceSoap12" type="tns:EAFServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConvertExcelFileToDataBase">
      <soap12:operation soapAction="http://tempuri.org/ConvertExcelFileToDataBase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EAFService">
    <wsdl:port name="EAFServiceSoap" binding="tns:EAFServiceSoap">
      <soap:address location="http://localhost/CompanyWebService/EAFService.asmx" />
    </wsdl:port>
    <wsdl:port name="EAFServiceSoap12" binding="tns:EAFServiceSoap12">
      <soap12:address location="http://localhost/CompanyWebService/EAFService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>